<header class="header">
  <ul class="d-flex justify-content-between">
    <li class="d-flex align-items-center">
      <h2 class="mb-0">Assignment</h2>
      <h6 class="mb-0 d-flex align-items-center">All Courses
        <a href="#" class="d-flex">
          <span class="material-symbols-outlined icon">
          stat_minus_1
          </span>
        </a>
      </h6>
    </li>
    <li class="d-flex align-items-center">
      <a href="#">
        <span class="material-symbols-outlined">
        search
        </span>
      </a>
      <a href="#">
        <span class="material-symbols-outlined">
          notifications_active
        </span>
      </a>
    </li>
  </ul>
</header>