  <div class="d-flex justify-content-between">
    <h6 class="d-flex align-items-center">All (4)
      <a href="#" class="d-flex">
        <span class="material-symbols-outlined icon">
        stat_minus_1
        </span>
      </a>
    </h6>
    <p class="tips">2 comments</p>
  </div>




