<div class="d-flex">
  <div class="col-lg-5 col-md-12">
    <div class="card me-3">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center text-start">
          <div>
            <span>Chapter Assignment 2</span>
            <h6>Please check this file…</h6>
          </div>
          <div class="text-end">
            <span>4 hrs ago</span>
            <p class="tips">Emily Wang</p>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center text-start">
          <div>
            <span>Chapter Assignment 1</span>
            <h6>My Homework</h6>
          </div>
          <div class="text-end">
            <span>12 hrs ago</span>
            <p class="tips">David Xu</p>
          </div>
        </div>
      </div>
      <div class="card-body border">
        <div class="d-flex justify-content-between align-items-center text-start">
          <div>
            <span>Final Assignment</span>
            <h6>Have a problem with this…</h6>
          </div>
          <div class="text-end">
            <span>18 hrs ago</span>
            <p class="tips">Tony Wei</p>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center text-start">
          <div>
            <span>Final Assignment</span>
            <h6>Did I do it right?</h6>
          </div>
          <div class="text-end">
            <span>19 hrs ago</span>
            <p class="tips">Christina Lin</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-7 col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center text-start">
          <div>
            <span>Chapter Assignment 2 / HTML&CSS</span>
            <h6>Please check this file for me, thanks!</h6>
          </div>
          <div class="dropdown">
            <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="dropdown-menu">
              <li>
                <button class="dropdown-item" type="button"></button>
              </li>
              <li>
                <button class="dropdown-item" type="button"></button>
              </li>
              <li>
                <button class="dropdown-item" type="button"></button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body">
        <ul>
          <li>
            <div class="content-text">
              <div class="d-flex">
                <img class="content-head me-2" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week5/emilywang.jpeg?raw=true" alt="head">
                <div>
                  <h6>Emily Wang</h6>
                  <span>10:38 AM (4 hours ago)</span>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="text mt-3 ms-5">
              <p class="pb-3">
                Hi Teacher, the attached file is my homework of chapter 2. And here comes a question: Why in the following code the height of the <span class="me-3">div</span> is bigger than the height of the <span class="me-3">img</span> ? There is a gap below the image, but it doesn’t seems to be a padding/margin. What is the gap or extra space below image?
              </p>
            </div>
          </li>
          <li class="ms-5 border-bottom">
            <button class="btn btn-light d-flex justify-content-center align-items-center download mb-3" type="button">
              <span class="material-symbols-outlined">
              attach_file
              </span>
              HW-2-David.zip
            </button>
          </li>
        </ul>
        <ul class="mt-3">
          <li>
            <div class="d-flex justify-content-between">
              <div class="d-flex">
                <img class="content-head me-2" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week5/andychen.jpeg?raw=true" alt="head">
                <div class="content-text">
                  <div>
                    <h6>Andy Chen (You)</h6>  <span>13:24 AM (1 hours ago)</span>
                  </div>
                </div>
              </div>
              <div class="d-flex icon">
                <a href="#">
                  <span class="material-symbols-outlined star fs-4 pe-4">
                  star
                  </span>
                </a>
                <a href="#">
                  <span class="material-symbols-outlined fs-4">
                  edit
                </span>
                </a>
              </div>
            </div>
          </li>
          <li>
            <div class="text mt-3 ms-5">
              <p class="pb-3">
                Hi David, by default, an image is rendered inline, like a letter so it sits on the same line that a, b, c and d sit on. There is space below that line for the descenders you find on letters like g, j, p and q.
              </p>
              <p class="pb-3">You can:</p>
              <p class="ps-3">
                • adjust the <span class="me-3">vertical-align</span> of the image to position it elsewhere (e.g. 
                <span class="me-3">middle</span> ) or
              </p>
              <p class="ms-3">
                • change the <span class="me-3">display </span>so it isn’t inline.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <ul class="d-flex justify-content-between pages">
      <li>
        <a href="#">
          <span class="material-symbols-outlined pe-4">
            chevron_left
          </span>
        </a>
        <a href="#">
          <span class="material-symbols-outlined">
            chevron_right
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <button class="btn btn-outline-success push-button me-3" type="button">Mark as read</button>
        </a>
        <a href="./messageArea.html">
          <button class="btn btn-success push-button" type="button">Reply</button>
        </a>
      </li>
    </ul>
  </div>
</div>