<div class="d-flex">
  <div class="col-lg-5 col-md-12">
    <div class="card me-3">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center text-start">
          <div>
            <span>Chapter Assignment 2</span>
            <h6>Please check this file…</h6>
          </div>
          <div class="text-end">
            <span>4 hrs ago</span>
            <p class="tips">Emily Wang</p>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center text-start">
          <div>
            <span>Chapter Assignment 1</span>
            <h6>My Homework</h6>
          </div>
          <div class="text-end">
            <span>12 hrs ago</span>
            <p class="tips">David Xu</p>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center text-start">
          <div>
            <span>Final Assignment</span>
            <h6>Have a problem with this…</h6>
          </div>
          <div class="text-end">
            <span>18 hrs ago</span>
            <p class="tips">Tony Wei</p>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center text-start">
          <div>
            <span>Final Assignment</span>
            <h6>Did I do it right?</h6>
          </div>
          <div class="text-end">
            <span>19 hrs ago</span>
            <p class="tips">Christina Lin</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-7 col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center text-start">
          <div>
            <span>Chapter Assignment 2 / HTML&CSS</span>
            <h6>Please check this file for me, thanks!</h6>
          </div>
          <div class="dropdown">
            <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="dropdown-menu">
              <li>
                <button class="dropdown-item" type="button"></button>
              </li>
              <li>
                <button class="dropdown-item" type="button"></button>
              </li>
              <li>
                <button class="dropdown-item" type="button"></button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body">
        <ul>
          <li>
            <div class="content-text">
              <div class="d-flex">
                <img class="content-head me-2" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week5/emilywang.jpeg?raw=true" alt="head">
                <div>
                  <h6>Emily Wang</h6>
                  <span>10:38 AM (4 hours ago)</span>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="text mt-3 ms-5">
              <p class="pb-3">
                Hi Teacher, the attached file is my homework of chapter 2. And here comes a question: Why in the following code the height of the <span class="me-3">div</span> is bigger than the height of the <span class="me-3">img</span> ? There is a gap below the image, but it doesn’t seems to be a padding/margin. What is the gap or extra space below image?
              </p>
            </div>
          </li>
          <li class="ms-5 border-bottom">
            <button class="btn btn-light d-flex justify-content-center align-items-center download mb-3" type="button">
              <span class="material-symbols-outlined">
              attach_file
              </span>
              HW-2-David.zip
            </button>
          </li>
        </ul>
      </div>
      <div class="card-header border-top">
        <ul class="d-flex text-code align-items-center justify-content-start">
          <li class="d-flex align-items-center justify-content-start">
            <p class="pe-2">Body Text</p>
          </li>
          <li class="ps-2">
            <a href="#" class="d-flex">
              <span class="material-symbols-outlined mb-0">
                arrow_drop_down
              </span>
            </a>
          </li>
          <li class="text-icon d-flex">
            <a href="#">
              <span class="material-symbols-outlined">
              format_bold
              </span>
            </a>
            <a href="#">
              <span class="material-symbols-outlined">
              format_italic
              </span>
            </a>
            <a href="#">
              <span class="material-symbols-outlined">
              list
              </span>
            </a>
            <a href="#">
              <span class="material-symbols-outlined">
              format_list_numbered
              </span>
            </a>
            <a href="#">
              <span class="material-symbols-outlined">
              image
              </span>
            </a>
            <a href="#">
              <span class="material-symbols-outlined">
              attachment
              </span>
            </a>
            <a href="#">
              <span class="material-symbols-outlined">
              code
              </span>
            </a>
          </li>
        </ul>
      </div>
      <label for="message"></label>
      <input type="textarea" id="message"  placeholder="Reply an answer…" class="w-100 ps-3 pt-3" readonly>
      <div class="d-flex justify-content-end mb-3">
        <button class="btn btn-outline-success push-button me-3" type="button">Mark as read</button>
        <button class="btn btn-success push-button me-4" type="button">Reply</button>
      </div>
    </div>
  </div>
</div>