
<nav class="sidnav">
  <div class="logo"></div>
  <ul class="side">
    <li>
      <a href="#" class="d-flex">
        <span class="material-symbols-outlined pe-3">insert_chart       
        </span>
        Dashboard</a>
    </li>
    <li>
      <a href="#" class="d-flex">
        <span class="material-symbols-outlined pe-3">
          forum
          </span>
          Question</a>
    </li>
    <li>
      <a href="index.html" class="d-flex">
        <span class="material-symbols-outlined pe-3 ">assignment
        </span>
        Assignment</a>
    </li>
    <li>
      <a href="#" class="d-flex">
        <span class="material-symbols-outlined pe-3">
        video_library
        </span>
        Course</a>
    </li>
    <li>
      <a href="#" class="d-flex">
        <span class="material-symbols-outlined pe-3">
        group
        </span>
        Admin</a>
    </li>
    <li>
      <a href="#" class="d-flex">
        <span class="material-symbols-outlined pe-3">
        settings
        </span>
        Settings</a>
    </li>
  </ul>
  <ul class="d-flex head-text">
    <li>
      <div class="head"></div>
    </li>
    <li class="ps-3 text-start">
      <p>Andy Chen</p>
      <span>andy0401@mail.com</span>
    </li>
  </ul>
</nav>
